<div class="app_main">
   <div class="grid wide container">
        <div class="row main_container">
          {{#each movies}}
          <div class="col c-6 m-3 l-2 moviesposter-wrapper">
            <a href="/phim/{{slug}}">
              <img src="{{thumb_url}}" alt="" />
            </a>
            <h3 class="moviesposter-title">{{name}}</h3>
            <div class="moviesposter-practice">{{current_episode}}</div>
            <div class="moviesposter-HD">{{quality}}</div>
          </div>
          {{/each}}
        </div>
  </div>
  <div class="pagging__container">
    <li class="pagging__cotainer-items">
      <a class="pagging__container-link">
        <i class="pagination-item__icon fa-solid fa-arrow-left"></i>
      </a>
    </li>

    <li class="pagging__cotainer-items">
      <a class="pagging__container-link">
        1
      </a>
    </li>
    <li class="pagging__cotainer-items">
      <a class="pagging__container-link">
        <i class="pagination-item__icon fa-solid fa-arrow-right"></i>
      </a>
    </li>

  </div>

</div>